<h1>animenへようこそ！！</h1>
<p>
  当サイトは「アニメ」というコンテンツを通して、<br>
　他のメンバーの方と交流する場となっています。<br>
　また、自分の好きなアニメ作品を共有したり、<br>
　他のメンバーとグループを作ることもできます。<br>
</p>

<p>
  ユーザー登録がお済でない方は
  <%= link_to "こちら", new_customer_registration_path %>
  からお願いします
</p>

<p>登録済みの方は
  <%= link_to "こちら", new_customer_session_path %>
  からログインして下さい
  </p>



